div(ng-if="config.mode == null")
	h1 First visit !

	div
		| Choose what configuration you want

	div
		button(ng-click="config.mode = 'server'; applyConfig()") Server
	div
		button(ng-click="config.mode = 'client'; applyConfig()") Client
